.resources {
      &--hero {
            background: url('../../images/resources-hero.jpg');
            // background: url('../../images/soft-lake-bg.jpg');
            background-size:cover;
            background-repeat:no-repeat;
            min-height: 45vh;
            display:flex;
            align-items: center;
            justify-content: center;
            h1 {
                  font-weight:700;
            }
      }
}