.movie{
      &--trigger {
            background:  #FF7562;
            padding: 6px 12px 9px 12px;
            margin:0 5px;
            display: flex;
            color:white;
            border-radius:4px;
            box-shadow:1px 1px 6px rgba(0,0,0,0.2);
            font-style: italic;
      }
}
.trigger-wrap {
      margin-top:10px;
}