.gradient {
      &--salmon {
             background:linear-gradient(93.13deg, #FF6F9E 0.06%, #FF7562 100%);
      }
}

.text {
      &--light {
            color:#fff;
      }
}
.background {
      &--white{
            background-color:white;
      }
}