
h1, h2, h3, h4, h5, p {
      font-family: 'Rubik', sans-serif;
      color:#66626C;
}
h1 {
      letter-spacing: 0.06em;
      text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.38);
      font-weight:700;
      font-size:3.5rem;
      &.big {
            font-size:4.6rem;
      }
}
p.block {
      display:block;
}