@import 'styles/partials/_variables.scss';


.App {
      text-align: center;
      &--logo {
            animation: App-logo-spin infinite 20s linear;
            min-height: 80px; 
      }
      &--header {
            background-color: $dark_grey;
            height: 150px;
            padding: 20px;
            color: white;
          }
      &--title {
            font-size: 1.5em;
          }
      &--intro {
            font-size: large;
      }
    }
    
   
    
    @keyframes App-logo-spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }